@model IEnumerable<webprojtest3.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.membership_start_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.membership_end_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.l_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emergency_Contact_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emergency_Contact_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.membership_start_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.membership_end_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.l_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergency_Contact_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergency_Contact_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
